In [1]:
from aita.datasource.file import FileDataSource

In [2]:
f = FileDataSource("./creditcard.csv", name="creditcard", format="csv")

In [3]:
tb = f.to_arrow()

In [4]:
tb.to_pandas()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [5]:
from aita.datasource.postgresql import PostgreSqlDataSource

pq = PostgreSqlDataSource(connection_url="postgresql://@localhost:5432/postgres")

In [6]:
from aita.agent.sql import SqlAgent

agent = SqlAgent(datasource=pq, model_id="gpt-3.5-turbo", allow_extract_metadata=True)
agent.chat(f"I want to create table with the data {f.get_metadata()} in postgresql types, make the column name with double quotes in the query")

================================== Ai Message ==================================
Tool Calls:
  sql_database_query (call_cGe9OPInLDZyyPpx6hPAt7W7)
 Call ID: call_cGe9OPInLDZyyPpx6hPAt7W7
  Args:
    query: CREATE TABLE creditcard ("Time" double, "V1" double, "V2" double, "V3" double, "V4" double, "V5" double, "V6" double, "V7" double, "V8" double, "V9" double, "V10" double, "V11" double, "V12" double, "V13" double, "V14" double, "V15" double, "V16" double, "V17" double, "V18" double, "V19" double, "V20" double, "V21" double, "V22" double, "V23" double, "V24" double, "V25" double, "V26" double, "V27" double, "V28" double, "Amount" double, "Class" int64)

In [9]:
pq.ingest("creditcard", tb, mode="append")

ProgrammingError: INVALID_ARGUMENT: [libpq] Failed to execute COPY statement: PGRES_FATAL_ERROR ERROR:  incorrect binary data format
CONTEXT:  COPY creditcard, line 1, column Class
. SQLSTATE: 22P03

In [ ]:
from pyarrow.csv import read_csv

In [ ]:
t = read_csv("./creditcard.csv")

In [ ]:
t.to_pandas()